
@model ClinicManagementSystem.Models.Schedules

<body style="background-image: url('../images/HomePage.jpg')">
    <center>
        <div style="background-image: url('../images/2008087.jpg');height:40px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px">
            <a href="HomePage"><img src="~/images/Stone-Clinic-Logo.png" style="width:32px;height:32px" /></a>
            <input type="button" value="ADD DOCTOR" onclick="location.href = '@Url.Action("DoctorPage","Home")'" class="btn btn-dark" />
            <input type="button" value="ADD PATIENT" onclick="location.href = '@Url.Action("PatientPage","Home")'" class="btn btn-dark" />
            <input type="button" value="VIEW PATIENTS" onclick="location.href = '@Url.Action("ViewPatient","Home")'" class="btn btn-dark" />
            <input type="button" value="SCHEDULE APPOINTMENT" onclick="location.href = '@Url.Action("ScheduleAppmnt","Home")'" class="btn btn-dark" />
            <input type="button" value="VIEW APPOINTMENT" onclick="location.href = '@Url.Action("ViewAppmnt","Home")'" class="btn btn-dark" />
            <input type="button" value="Log-out" onclick="location.href = '@Url.Action("Index","Home")'" class="btn btn-danger" />

        </div>
    </center>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="DeleteDateView" asp-controller="Home" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="VisitDate" class="control-label"></label>
                    <input asp-for="VisitDate" type="date" class="form-control text-center" required />
                    <span asp-validation-for="VisitDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    @Html.Raw(TempData["msg"])
                    <input type="submit" value="Sort" class="btn btn-dark" />
                    <input type="button" value="Home" onclick="location.href = '@Url.Action("HomePage","Home")'" class="btn btn-dark" />
                    <input type="button" value="Log-out" onclick="location.href = '@Url.Action("Index","Home")'" class="btn btn-danger" />
                </div>
            </form>
        </div>
    </div>
</body>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    @*@using(Html.BeginForm("DeleteDateView","Home",FormMethod.Post))
        {
            <div>
                <table>
                    <tr>
                        <td>@Html.DisplayName("VisitDate")</td>
                        <td>@Html.TextBoxFor(m=>m.VisitDate)</td>
                    </tr>
                </table>
                <input type="submit" value="sort" />
            </div>
        }*@

