@model ClinicManagementSystem.Models.Doctor

@{
    ViewData["Title"] = "DoctorPage";
}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Doctor</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
</head>

<body style="background-image: url('../images/HomePage.jpg')">

    @*<img src="~/images/Stone-Clinic-Logo.png" style="width:100px;height:100px" />*@
    <h1>DoctorPage</h1>

    @*<h4>Doctor</h4>*@

    <center>
        <div style="background-image: url('../images/2008087.jpg');height:40px;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-left-radius:4px;border-bottom-right-radius:4px">
            <a href="HomePage"><img src="~/images/Stone-Clinic-Logo.png" style="width:32px;height:32px" /></a>
            <input type="button" value="ADD DOCTOR" onclick="location.href = '@Url.Action("DoctorPage","Home")'" class="btn btn-dark" />
            <input type="button" value="ADD PATIENT" onclick="location.href = '@Url.Action("PatientPage","Home")'" class="btn btn-dark" />
            <input type="button" value="VIEW PATIENTS" onclick="location.href = '@Url.Action("ViewPatient","Home")'" class="btn btn-dark" />
            <input type="button" value="SCHEDULE APPOINTMENT" onclick="location.href = '@Url.Action("ScheduleAppmnt","Home")'" class="btn btn-dark" />
            <input type="button" value="VIEW APPOINTMENT" onclick="location.href = '@Url.Action("ViewAppmnt","Home")'" class="btn btn-dark" />
            <input type="button" value="Log-out" onclick="location.href = '@Url.Action("Index","Home")'" class="btn btn-danger" />

        </div>
    </center><hr />


    <div>

        <center>
            <div style="background-color:whitesmoke;border-radius:6px">

                <form asp-action="AddDoctor" asp-controller="Home" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <b><label asp-for="FirstName" class="control-label"></label></b>
                        <input asp-for="FirstName" placeholder="Enter the First Name" class="form-control text-center" required/>
                        <span asp-validation-for="FirstName" class="text-danger"></span><hr />
                    </div>
                    <div class="form-group">
                        <b><label asp-for="LastName" class="control-label"></label></b>
                        <input asp-for="LastName" placeholder="Enter the Last Name" class="form-control text-center" required />
                        <span asp-validation-for="LastName" class="text-danger"></span><hr />
                    </div>
                    <div class="form-group">
                        <b><label asp-for="Sex" class="control-label"></label><br /></b>
                        @Html.RadioButtonFor(m => m.Sex, "Male")Male<br />
                        &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.Sex, "Female")Female<br />
                        &nbsp;&nbsp;@Html.RadioButtonFor(m => m.Sex, "Others")Others<br /><hr />
                        @*@Html.ValidationMessageFor(m => m.Sex)<hr />*@
                        <span asp-validation-for="Sex" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <b><label asp-for="Specializations" class="control-label"></label><br /></b>
                        <table>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.Specializations, "General")General
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.Specializations, "Internal_medicine")Internal medicine
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.Specializations, "Pediatric")Pediatric
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.Specializations, "Orthopedic")Orthopedic
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.RadioButtonFor(m => m.Specializations, "Opthamology")Opthamology
                                </td>
                            </tr>
                        </table>
                        @*@Html.ValidationMessageFor(m => m.Specializations)<hr />*@
                        @*<select name="Specialization" class="form-control">
                                <option value="General">General</option>
                                <option value="Internal Medicine">Internal Medicine</option>
                                <option value="Pediatrics">Pediatrics</option>
                                <option value="Orthopedics">Orthopedics</option>
                                <option value="Ophthalmology">Ophthalmology</option>
                            </select>*@
                        <span asp-validation-for="Specializations" class="text-danger"></span><hr />
                    </div>
                    <div class="form-group">
                        <b><label asp-for="VisitingHours" class="control-label"></label></b><br />
                        @Html.RadioButtonFor(m => m.VisitingHours, "01:00PM-02:00PM")01:00PM-02:00PM<br />
                        @Html.RadioButtonFor(m => m.VisitingHours, "02:00PM-03:00PM")02:00PM-03:00PM<br />
                        @Html.RadioButtonFor(m => m.VisitingHours, "03:00PM-04:00PM")03:00PM-04:00PM<br />
                        @Html.RadioButtonFor(m => m.VisitingHours, "04:00PM-05:00PM")04:00PM-05:00PM<br />
                        @Html.RadioButtonFor(m => m.VisitingHours, "06:00PM-07:00PM")06:00PM-07:00PM<br />

                        <span asp-validation-for="VisitingHours" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        @Html.Raw(TempData["msg"])
                        <input type="submit" value="Add" class="btn btn-outline-dark" />
                        <input type="button" value="Home" onclick="location.href = '@Url.Action("HomePage","Home")'" class="btn btn-outline-dark" />
                        <input type="button" value="Log-out" onclick="location.href = '@Url.Action("Index","Home")'" class="btn btn-danger" />
                    </div>
                </form>

            </div>
        </center>



    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
